.block {
  width: 600px;
  padding-bottom: 60px;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  margin: 335px auto 0px auto;
}

@media screen and (max-width: 640px) {
  .block {
    width: unset;
    padding-bottom: 48px;
    margin: 120px 16px 0px 16px;
  }
}

@media screen and (max-height: 640px) and (max-width: 1136px) and (orientation: landscape) {
  .block {
    width: unset;
    padding-bottom: 48px;
    margin: 120px 16px 0px 16px;
  }
}
