.headline {
  margin: 0;
  padding-top: 48px;
  height: 27px;
  opacity: 0.8;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #262626;
}
.headline_name {
  padding-top: 40px;
  height: 34px;
  text-align: center;
  font-size: 28px;
}
.img {
  width: 128px;
  height: 128px;
  border: solid 1px #979797;
  border-radius: 50%;
  object-fit: contain;
  margin-top: 48px;
}
.button__text {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.button_profile {
  width: 154px;
  margin: 56px 0px 0px 0px;
}

@media screen and (max-width: 640px) {
  .headline {
    padding-top: 32px;
    height: 24px;
    font-size: 20px;
    letter-spacing: normal;
  }
  .headline_name {
    padding-top: 24px;
    height: 21px;
    font-size: 18px;
    letter-spacing: 0.2px;
  }
  .img {
    width: 86px;
    height: 86px;
    margin-top: 32px;
  }
  .button_profile {
    width: 154px;
  }
}

@media screen and (max-height: 640px) and (max-width: 1136px) and (orientation: landscape) {
  .headline {
    padding-top: 32px;
    height: 24px;
    font-size: 20px;
    letter-spacing: normal;
  }
  .headline_name {
    padding-top: 24px;
    height: 21px;
    font-size: 18px;
    letter-spacing: 0.2px;
  }
  .img {
    width: 86px;
    height: 86px;
    margin-top: 32px;
  }
  .button_profile {
    width: 154px;
  }
}
